<p>{{ __ "Gitter is available in all modern browsers as well as apps for desktops."}}</p>

<p>
  <a class="btn outline" href="https://update.gitter.im/osx/latest" id="osx-download"><i class="icon-apple"></i>{{ __ "Mac"}}</a>
  <a class="btn outline" href="https://update.gitter.im/win/latest" id="windows-download"><i class="icon-windows"></i>{{ __ "Windows" }}</a>
  <a class="btn outline" href="https://update.gitter.im/linux32/latest"><i class="icon-linux"></i>{{ __ "Linux 32" }}</a>
  <a class="btn outline" href="https://update.gitter.im/linux64/latest"><i class="icon-linux"></i>{{ __ "Linux 64" }}</a>

  <br />
  {{{ __ "The above Mac installer is a signed version of 1.177 (backed by Safari). For an unsigned 4.1.0 installer (backed by <a %s>NW.js</a>), <a %s>click here to download</a>." "href='https://nwjs.io/'" "href='http://update.gitter.im/osx/Gitter-4.1.0.dmg'" }}}

  <br />
  <br />
  {{{ __ "Mac users on 10.9 or lower, <a %s>download here</a>." "href='https://s3.amazonaws.com/update.gitter.im/osx/Gitter-1.162.dmg'" }}}
</p>

<p>
  {{{ __ "We also have a sweet little <a %s>IRC bridge</a>." "href='https://irc.gitter.im'" }}}
</p>

<p> {{{ __ "The dedicated Android/iOS apps are no longer recommended and may be officially <a href='%s'>deprecated in the future</a>. For mobile, we recommend using the mobile web version in your browser." "https://gitlab.com/gitlab-org/gitter/webapp/issues/2281"}}}</p>

<p>
    {{{ __ "Our efforts are focused on the <a %s>webapp</a> which is the backbone of the mobile/desktop apps but mainly focused on the web experience. There are a number of bugs in these desktop/mobile clients and they spread the Gitter team too thin for us to give them proper attention. The apps are open-source if you want to tackle something particularly annoying to you." "href='https://gitlab.com/gitlab-org/gitter/webapp' target='_blank'" }}}
(<a href="https://gitlab.com/gitlab-org/gitter/desktop/">{{ __ "desktop" }}</a>, <a href="https://gitlab.com/gitlab-org/gitter/gitter-ios-app">{{ __ "iOS" }}</a>, <a href="https://gitlab.com/gitlab-org/gitter/gitter-android-app">{{ __ "Android" }}</a>)
</p>
